{{>header}}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Your order is now complete</h1>
            <p>You should pay in cash or by card upon delivery.</p>
            <p>Thanks for placing an order with Cake Factory!</p>
        </div>
    </div>
</div>
{{>footer}}